fullscreen($position = absolute)
  position: $position
  width: 100vw
  height: 100vh

size(value, min-value, max-value)
  width: value
  height: value

  if min-value
    min-width: min-value
    min-height: min-value

  if max-value
    max-width: max-value
    max-height: max-value

show($visible)
  if $visible
    visibility: visible
    opacity: 1
  else
    visibility: hidden
    opacity: 0

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font: 18px Roboto, Helvetica, sans-serif
  color: lighten(black, 10%)

.image-list
  spacing = 1em

  position: absolute
  width: 100vw
  display: flex
  justify-content: center
  flex-wrap: wrap

  padding: (spacing / 2)
  .image-thumb
    margin: (spacing / 2)

.image-thumb
  size(calc(100vw / 4), 15em, 25em)

  background-color: black
  background-size: cover
  background-position: top center
  background-repeat: no-repeat

  box-shadow: 0 3px 6px rgba(black, 0.25)

  transition: 0.2s
  &:hover
    opacity: 0.8
    cursor: pointer

.overlay-shade
  fullscreen()

  background-color: rgba(black, 0.7)

  display: flex
  padding: 4em
  overflow-y: auto

  .overlay-content
    margin: auto
    box-shadow: 0 3px 10px rgba(black, 0.25)

    img
      display: block

  transition: 0.2s
  show(false)
  &--visible
    show(true)
